requests
beautifulsoup4
lxml
APScheduler
SQLAlchemy
pandas
plotly
streamlit
python-dotenv
--extra-index-url https://download.pytorch.org/whl/cu121
torch
transformers
scikit-learn
numpy
tqdm
gensim
underthesea
bertopic
accelerate
google-generativeai